---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<head>
    <meta charset="UTF-8" />
</head>

<body class="" >
<Header/>

    <div style="height: calc(100dvh - 64px - 68px)">  <!-- 64px is the height of the header, 68px is the height of the footer. TODO prerobit!! -->
        <div class="items-center mx-44">
            <h1 class="text-center font-bold  font-sans text-8xl mt-32" >Metódy asociačných pravidiel a ich aplikácie</h1>
            <p class="text-3xl mt-32 font-mono"><span class="font-semibold">Autor:</span> Vasyl Khorev</p>
            <p class="text-3xl mt-2 font-mono"><span class="font-semibold">Vedúci práce:</span> doc. RNDr. Ľubomír Antoni, PhD.</p>
            <p class="text-3xl mt-2 font-mono"><span class="font-semibold">Konzultant:</span> prof. RNDr. Stanislav Krajči, PhD.</p>
        </div>
        <div class="mx-44 flex justify-start mt-20 gap-10">
            <a  class="" href="/prezentacia_obhajoba.pdf">
                <button  type="button" class="font-mono  block rounded-md bg-gray-800 px-3 py-2 text-base font-medium text-white"><p>Prezentácia</p></button>
            </a>
            <a  class="" href="/esej.pdf">
                <button type="button" class="font-mono  block rounded-md bg-gray-800 px-3 py-2 text-base font-medium text-white"><p>Esej</p></button>
            </a>
            <a class="" href="/bakalarska_praca.pdf">
                <button type="button" class="font-mono block rounded-md bg-gray-800 px-3 py-2 text-base font-medium text-white"><p>Práca</p></button>
            </a>
        </div>
    </div>

<Footer/>
</body>
