---
import {dateOptions, getLocale} from "../i18n/utils";
import TOC from "./TOC.astro";
const {title, date, lang, headings, summary} = Astro.props;

---
<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
</style>

<div class="flex justify-center items-center my-14">
    <div class="w-5/6 sm:w-1/2 ">
        <div class="text-center dark:text-gray-400 font-semibold text-xl">{new Date(date).toLocaleDateString(getLocale(lang), dateOptions)}</div>
        <div class="mt-2 text-black dark:text-white text-3xl sm:text-5xl font-extrabold text-center">{title}</div>
        <div class="mt-10 flex justify-center items-center">
            <div class="self-center text-pretty sm:w-2/3 dark:text-gray-400 prose-xl">{summary}</div>
        </div>


        <div class="mr-0 sm:mr-[75dvw] w-full sm:w-[45dvw] mt-10 prose text-black dark:text-white dark:prose-invert mb-15 sm:prose-xl
                    prose-pre:rounded-3xl
                    special-class-for-inline-code prose-ic:p-1.5 prose-ic:font-normal prose-ic:bg-gray-200 dark:prose-ic:bg-gray-800 prose-ic:rounded
                    prose-ic:before:content-none prose-ic:after:content-none
                    prose-img:overflow-x-auto
                    prose-a:break-all
                    prose-pre:w-[80dvw] sm:prose-pre:w-full
                    prose-table:w-[80dvw] prose-table:table-fixed sm:prose-table:w-full sm:prose-table:table-auto
                    prose-table:overflow-x-auto relative mx-auto">
            <hr class="border-b-0 border-gray-400 mt-10"/>
            <aside class="absolute left-full w-96 h-full hidden sm:block">
                <div class="sticky ml-20 top-10">
                    <TOC headings={headings}/>
                </div>
            </aside>
            <slot/>
        </div>

    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.css"
      integrity="sha384-NFTC4wvyQKLwuJ8Ez9AvPNBv8zcC2XaQzXSMvtORKw28BdJbB2QE8Ka+OyrIHcQJ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.js"
        integrity="sha384-z9arB7KJHppq8kK9AESncXcQd/KXIMMPiCrAdxfFpp+5QU438lgBE7UFGbk+gljP"
        crossorigin="anonymous"></script>