@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    width: 100dvw;
    @apply antialiased;
    @apply font-sans;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
a{
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.katex-display {
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    .katex-display {
        overflow-x: auto;
        width: 75dvw;
        padding: 10px;
    }
}

.active-toc-item{
    text-decoration-thickness: 2px !important;
    text-decoration-line: underline !important;
    text-underline-offset: 3px;
}