body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    width: 100dvw;
}
.katex-display {
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    .katex-display {
        overflow-x: auto;
        width: 75dvw;
        padding: 10px;
    }
}